.button {
    display: flex;
    justify-content: center;
}

.pastSponsor {
    filter: grayscale(100%);
    transition: filter 300ms ease-in-out;
}

.pastSponsor:hover {
    filter: grayscale(0%);
}
