.navbar-logo {
  width: 15rem;
  height: auto;
  cursor: pointer;
}

.button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  background: #004258;
  border-radius: 0.375rem;
  cursor: pointer;
}
