@layer base {
  .grid-gap-x {
    @apply gap-x-8 xl:gap-x-6 lg:gap-x-4;
  }

  .grid-gap-y {
    @apply gap-y-8 xl:gap-y-6 lg:gap-y-4;
  }

  .grid-gap {
    @apply gap-x-8 xl:gap-x-6 lg:gap-x-4 gap-y-8 xl:gap-y-6 lg:gap-y-4;
  }
}
