@layer base {
  .safe-paddings {
    padding-left: max(env(safe-area-inset-left), 1rem);
    padding-right: max(env(safe-area-inset-right), 1rem);

    header& {
      padding-top: env(safe-area-inset-top);
    }

    footer& {
      padding-bottom: env(safe-area-inset-bottom);
    }
  }

  @media (min-width: 768px) {
    .safe-paddings {
      padding-left: max(env(safe-area-inset-left), 2rem);
      padding-right: max(env(safe-area-inset-right), 2rem);
    }
  }
}
