@layer base {
  .safe-paddings {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);

    header& {
      padding-top: env(safe-area-inset-top);
    }

    footer& {
      padding-bottom: env(safe-area-inset-bottom);
    }
  }

}
