.ticket-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.ticket-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.ticket-price {
    color: #004258;
    margin-bottom: 5px;
}

.ticket-end-date {
    font-size: 0.9em;
    color: #555;
}
