.fc .fc-timegrid-slot {
  border-bottom: 0px;
  height: 4.5em;
}
/* Entfernen der Borders in FullCalendar */
.fc .fc-scrollgrid,
.fc .fc-scrollgrid-section,
.fc .fc-scrollgrid-section > td,
.fc .fc-col-header-cell,
.fc .fc-daygrid-day,
.fc .fc-timegrid-slot {
  border: none !important;
}

/* Entfernt Borders an der Zeitachse */
.fc .fc-timegrid-slot-label,
.fc .fc-timegrid-slot-label-frame {
  border: none !important;
}

/* Behält den vertikalen Divider zwischen den Tagen bei */
.fc .fc-timegrid-body .fc-timegrid-col {
  border-right: none !important; /* Farbe und Stil des Borders anpassen, falls nötig */
}

/* Entfernt den unteren Border der letzten Zeit-Slot-Zelle, falls gewünscht */
.fc .fc-timegrid-slot-label:last-child {
  border-bottom: none !important;
}
.fc-theme-standard td,
.fc-theme-standard th {
  border: none;
}
