.fc .fc-timegrid-slot {
  height: 4.95em;
}
/* Entfernen der Borders in FullCalendar */
.fc .fc-scrollgrid,
.fc .fc-scrollgrid-section,
.fc .fc-scrollgrid-section > td,
.fc .fc-col-header-cell,
.fc .fc-daygrid-day,
.fc .fc-timegrid-slot,
.fc .fc-timegrid-slot-label,
.fc .fc-timegrid-slot-label-frame,
.fc .fc-timegrid-body .fc-timegrid-col,
.fc .fc-timegrid-slot-label:last-child,
.fc-theme-standard td,
.fc-theme-standard th {
  border: none !important;
}
.fc .fc-timegrid-slot {
  border-top: 0.5px solid lightgrey !important;
  border-bottom: 0.5px solid lightgrey !important;
}

.fc-event {
  width: 100%;
  background: rgb(13, 50, 233);
}

.fc .fc-toolbar {
  font-weight: bold;
}

.fc .fc-toolbar-title {
  padding-top: 10px;
}
.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 0px;
  background: darkgray;
}

.fc .fc-col-header-cell-cushion {
  font-size: 22px;
}

.fc-scrollgrid-sync-inner {
  background: lightgray;
}
.fc th {
  background: lightgray;
}

.fc-timegrid-axis {
  background: #d3d3d342;
}

.fc-timegrid-event-harness {
  margin-left: 4px;
}

td {
  padding-right: 2px !important;
}

.fc-direction-ltr .fc-timegrid-slot-label-frame {
  text-align: center;
}

@media screen and (max-width: 800px) {
  .renderContent {
    font-size: 9px;
  }
}

@media screen and (max-width: 600px) {
  .dialog-title {
    font-size: 14px;
  }

  .dialog-start {
    font-size: 10px;
  }

  .dialog-end {
    font-size: 10px;
  }

  .dialog-room {
    font-size: 10px;
  }
  .dialog-description {
    font-size: 10px;
  }
}
